.DS_Store
config.ini
.vscode/
bin/
include/
lib/
pyvenv.cfg
azurebot/__pycache__/
snowboy/__pycache__/
openaibot/__pycache__/
picovoice/__pycache__/
speechmodules/__pycache__/
erniebot/__pycache__/
functionplugin/__pycache__/
snowboy/_snowboydetect.so
log/*
!log/.gitkeep
test.py
__pycache__/main.cpython-39.pyc
HiYoyo.command
speechmodules/tepfile/*
!speechmodules/tepfile/.gitkeep
openaibot/html.html
openaibot/json.json