.DS_Store
config.ini
.vscode/
bin/
include/
lib/
pyvenv.cfg
chatgpt/__pycache__/
chatgpt/pycache/
snowboy/pycache/
snowboy/_snowboydetect.so
speechmodules/pycache/
chatgpt/__pycache__/chatgpt.cpython-39.pyc
snowboy/__pycache__/wakeword.cpython-39.pyc
log/*.json
