.DS_Store
config.ini
.vscode/
bin/
include/
lib/
pyvenv.cfg
chatgpt/__pycache__/
snowboy/__pycache__/
picovoice/__pycache__/
speechmodules/__pycache__/
snowboy/_snowboydetect.so
log/*
!log/.gitkeep
chatgpt/functionplugin/__pycache__
test.py
__pycache__/main.cpython-39.pyc
