absl-py==1.4.0
accelerate==0.12.0
addict==2.4.0
aenum==3.1.12
aiofiles==22.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
altair==4.2.2
altgraph==0.17.3
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.9.1.post1
argcomplete==3.1.4
astroid==2.12.13
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncer==0.0.2
attrs==22.2.0
autopep8==1.6.0
azure-ai-textanalytics==5.3.0b1
azure-cognitiveservices-speech==1.24.2
azure-common==1.1.28
azure-core==1.26.2
Babel==2.12.1
backcall==0.2.0
baidu-aip==4.16.9
basicsr==1.4.2
beautifulsoup4==4.11.1
betterproto==1.2.5
bidict==0.22.1
blendmodes==2022
blinker==1.5
blosc2==2.0.0
boltons==23.0.0
bottle==0.12.25
bs4==0.0.1
cachetools==5.3.0
carbontracker==1.1.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
clean-fid==0.1.29
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
coloredlogs==15.0.1
comtypes==1.1.14
contourpy==1.0.6
crcmod==1.7
cryptography==38.0.1
cssselect==1.2.0
cycler==0.11.0
Cython==0.29.36
dataclasses-json==0.5.9
decorator==5.1.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
docstring-to-markdown==0.11
easyocr==1.4.2
edge-tts==6.1.3
EdgeGPT==0.1.21
einops==0.4.1
elevenlabs==0.2.24
entrypoints==0.4
exceptiongroup==1.0.0
executing==1.2.0
facexlib==0.2.5
fastapi==0.90.1
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.10.7
filetype==1.2.0
filterpy==1.4.5
flake8==6.0.0
Flask==2.2.3
Flask-SocketIO==5.3.4
flatbuffers==23.5.26
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
gdown==4.7.1
geocoder==1.38.1
gfpgan==1.3.8
gitdb==4.0.10
GitPython==3.1.27
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-generativeai==0.3.1
google-pasta==0.2.0
google-search-results==2.4.2
googleapis-common-protos==1.62.0
GoogleBard==0.0.3
gradio==3.16.2
greenlet==2.0.1
grpcio==1.60.0
grpcio-status==1.60.0
grpclib==0.4.3
h11==0.12.0
h2==4.1.0
h5py==3.9.0
hpack==4.0.0
httpcore==0.15.0
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==2.10
ImageHash==4.3.1
imageio==2.19.2
IMAPClient==2.2.0
importlib-metadata==5.0.0
inflection==0.5.1
iniconfig==1.1.1
ipython==8.14.0
isodate==0.6.1
isort==5.10.1
itchat==1.2.32
itsdangerous==2.1.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.1
jsonmerge==1.8.0
jsonschema==4.17.3
keras==2.13.1
kiwisolver==1.4.4
kornia==0.6.7
langchain==0.0.220
langchainplus-sdk==0.0.19
lark==1.1.2
lazy-object-proxy==1.8.0
libclang==16.0.0
linkify-it-py==2.0.0
llvmlite==0.39.1
lmdb==1.4.0
lpips==0.1.4
lxml==4.9.1
machine==0.0.1
macholib==1.16.2
Markdown==3.4.1
markdown-it-py==2.2.0
markdownify==0.11.6
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
miservice-fork @ file:///Users/renyajun/gitee/MiService
mne==1.4.2
MouseInfo==0.1.3
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
networkx==2.8.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.3
oauthlib==3.2.2
omegaconf==2.2.3
onnxruntime==1.13.1
open-clip-torch @ git+https://github.com/mlfoundations/open_clip.git@bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
opencv-python-headless==4.5.4.60
opengraph-py3==0.71
openwakeword==0.5.0
opt-einsum==3.3.0
orjson==3.8.10
oss2==2.16.0
outcome==1.2.0
packaging==23.0
pandas==2.0.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.4.0
ping3==4.0.3
pipx==1.2.1
platformdirs==2.6.0
playsound==1.3.0
pluggy==1.0.0
pooch==1.6.0
prezzemolo==0.0.4
priority==2.0.0
prompt-toolkit==3.0.38
proto-plus==1.23.0
protobuf==4.23.4
psg-utils==0.1.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pure-python-adb==0.3.0.dev0
pvporcupine==2.2.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.9
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.15.0
pydantic==1.10.2
pyDeprecate==0.3.2
pydocstyle==6.2.3
pydub==0.25.1
pyee==9.0.4
pyexcel-ezodf==0.3.4
pyflakes==3.0.1
PyGetWindow==0.0.9
PyGithub==1.57
Pygments==2.14.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyJWT==2.6.0
pylint==2.15.8
pylint-quotes==0.2.3
PyMatting==1.1.8
PyMsgBox==1.0.9
PyMuPDF==1.21.0
PyNaCl==1.5.0
pynvml==11.5.0
pyobjc==8.5.1
pyobjc-core==8.5.1
pyobjc-framework-Accessibility==8.5.1
pyobjc-framework-Accounts==8.5.1
pyobjc-framework-AddressBook==8.5.1
pyobjc-framework-AdServices==8.5.1
pyobjc-framework-AdSupport==8.5.1
pyobjc-framework-AppleScriptKit==8.5.1
pyobjc-framework-AppleScriptObjC==8.5.1
pyobjc-framework-ApplicationServices==8.5.1
pyobjc-framework-AppTrackingTransparency==8.5.1
pyobjc-framework-AudioVideoBridging==8.5.1
pyobjc-framework-AuthenticationServices==8.5.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.5.1
pyobjc-framework-Automator==8.5.1
pyobjc-framework-AVFoundation==8.5.1
pyobjc-framework-AVKit==8.5.1
pyobjc-framework-BusinessChat==8.5.1
pyobjc-framework-CalendarStore==8.5.1
pyobjc-framework-CallKit==8.5.1
pyobjc-framework-CFNetwork==8.5.1
pyobjc-framework-ClassKit==8.5.1
pyobjc-framework-CloudKit==8.5.1
pyobjc-framework-Cocoa==8.5.1
pyobjc-framework-Collaboration==8.5.1
pyobjc-framework-ColorSync==8.5.1
pyobjc-framework-Contacts==8.5.1
pyobjc-framework-ContactsUI==8.5.1
pyobjc-framework-CoreAudio==8.5.1
pyobjc-framework-CoreAudioKit==8.5.1
pyobjc-framework-CoreBluetooth==8.5.1
pyobjc-framework-CoreData==8.5.1
pyobjc-framework-CoreHaptics==8.5.1
pyobjc-framework-CoreLocation==8.5.1
pyobjc-framework-CoreMedia==8.5.1
pyobjc-framework-CoreMediaIO==8.5.1
pyobjc-framework-CoreMIDI==8.5.1
pyobjc-framework-CoreML==8.5.1
pyobjc-framework-CoreMotion==8.5.1
pyobjc-framework-CoreServices==8.5.1
pyobjc-framework-CoreSpotlight==8.5.1
pyobjc-framework-CoreText==8.5.1
pyobjc-framework-CoreWLAN==8.5.1
pyobjc-framework-CryptoTokenKit==8.5.1
pyobjc-framework-DataDetection==8.5.1
pyobjc-framework-DeviceCheck==8.5.1
pyobjc-framework-DictionaryServices==8.5.1
pyobjc-framework-DiscRecording==8.5.1
pyobjc-framework-DiscRecordingUI==8.5.1
pyobjc-framework-DiskArbitration==8.5.1
pyobjc-framework-DVDPlayback==8.5.1
pyobjc-framework-EventKit==8.5.1
pyobjc-framework-ExceptionHandling==8.5.1
pyobjc-framework-ExecutionPolicy==8.5.1
pyobjc-framework-ExternalAccessory==8.5.1
pyobjc-framework-FileProvider==8.5.1
pyobjc-framework-FileProviderUI==8.5.1
pyobjc-framework-FinderSync==8.5.1
pyobjc-framework-FSEvents==8.5.1
pyobjc-framework-GameCenter==8.5.1
pyobjc-framework-GameController==8.5.1
pyobjc-framework-GameKit==8.5.1
pyobjc-framework-GameplayKit==8.5.1
pyobjc-framework-ImageCaptureCore==8.5.1
pyobjc-framework-IMServicePlugIn==8.5.1
pyobjc-framework-InputMethodKit==8.5.1
pyobjc-framework-InstallerPlugins==8.5.1
pyobjc-framework-InstantMessage==8.5.1
pyobjc-framework-Intents==8.5.1
pyobjc-framework-IntentsUI==8.5.1
pyobjc-framework-IOSurface==8.5.1
pyobjc-framework-iTunesLibrary==8.5.1
pyobjc-framework-KernelManagement==8.5.1
pyobjc-framework-LatentSemanticMapping==8.5.1
pyobjc-framework-LaunchServices==8.5.1
pyobjc-framework-libdispatch==8.5.1
pyobjc-framework-LinkPresentation==8.5.1
pyobjc-framework-LocalAuthentication==8.5.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5.1
pyobjc-framework-MailKit==8.5.1
pyobjc-framework-MapKit==8.5.1
pyobjc-framework-MediaAccessibility==8.5.1
pyobjc-framework-MediaLibrary==8.5.1
pyobjc-framework-MediaPlayer==8.5.1
pyobjc-framework-MediaToolbox==8.5.1
pyobjc-framework-Metal==8.5.1
pyobjc-framework-MetalKit==8.5.1
pyobjc-framework-MetalPerformanceShaders==8.5.1
pyobjc-framework-MetalPerformanceShadersGraph==8.5.1
pyobjc-framework-MetricKit==8.5.1
pyobjc-framework-MLCompute==8.5.1
pyobjc-framework-ModelIO==8.5.1
pyobjc-framework-MultipeerConnectivity==8.5.1
pyobjc-framework-NaturalLanguage==8.5.1
pyobjc-framework-NetFS==8.5.1
pyobjc-framework-Network==8.5.1
pyobjc-framework-NetworkExtension==8.5.1
pyobjc-framework-NotificationCenter==8.5.1
pyobjc-framework-OpenDirectory==8.5.1
pyobjc-framework-OSAKit==8.5.1
pyobjc-framework-OSLog==8.5.1
pyobjc-framework-PassKit==8.5.1
pyobjc-framework-PencilKit==8.5.1
pyobjc-framework-Photos==8.5.1
pyobjc-framework-PhotosUI==8.5.1
pyobjc-framework-PreferencePanes==8.5.1
pyobjc-framework-PushKit==8.5.1
pyobjc-framework-Quartz==8.5.1
pyobjc-framework-QuickLookThumbnailing==8.5.1
pyobjc-framework-ReplayKit==8.5.1
pyobjc-framework-SafariServices==8.5.1
pyobjc-framework-SceneKit==8.5.1
pyobjc-framework-ScreenCaptureKit==8.5.1
pyobjc-framework-ScreenSaver==8.5.1
pyobjc-framework-ScreenTime==8.5.1
pyobjc-framework-ScriptingBridge==8.5.1
pyobjc-framework-SearchKit==8.5.1
pyobjc-framework-Security==8.5.1
pyobjc-framework-SecurityFoundation==8.5.1
pyobjc-framework-SecurityInterface==8.5.1
pyobjc-framework-ServiceManagement==8.5.1
pyobjc-framework-ShazamKit==8.5.1
pyobjc-framework-Social==8.5.1
pyobjc-framework-SoundAnalysis==8.5.1
pyobjc-framework-Speech==8.5.1
pyobjc-framework-SpriteKit==8.5.1
pyobjc-framework-StoreKit==8.5.1
pyobjc-framework-SyncServices==8.5.1
pyobjc-framework-SystemConfiguration==8.5.1
pyobjc-framework-SystemExtensions==8.5.1
pyobjc-framework-UniformTypeIdentifiers==8.5.1
pyobjc-framework-UserNotifications==8.5.1
pyobjc-framework-UserNotificationsUI==8.5.1
pyobjc-framework-VideoSubscriberAccount==8.5.1
pyobjc-framework-VideoToolbox==8.5.1
pyobjc-framework-Virtualization==8.5.1
pyobjc-framework-Vision==8.5.1
pyobjc-framework-WebKit==8.5.1
pyparsing==3.0.9
pyperclip==1.8.2
pypng==0.20220715.0
PyQRCode==1.2.1
pyquery==2.0.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
pytest==7.2.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-engineio==4.4.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.5
python-socketio==5.8.0
pythonping==1.1.4
pytoolconfig==1.2.5
pytorch-lightning==1.7.6
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywinauto==0.6.6
PyYAML==6.0
pyzmail39==0.0.2
qiniu==7.9.0
qrcode==7.3.1
quart==0.18.3
Quart-CORS==0.5.0
ratelim==0.1.6
realesrgan==0.3.0
regex==2022.10.31
rembg==2.0.30
requests==2.30.0
requests-oauthlib==1.3.1
resize-right==0.0.2
rfc3986==1.5.0
rich==13.3.2
rope==1.7.0
rp2==1.5.0
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
rubicon-objc==0.4.2
safetensors==0.2.7
scikit-image==0.19.2
scikit-learn==1.3.0
scipy==1.10.1
selenium==4.5.0
Send2Trash==1.8.0
sentencepiece==0.1.98
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snowboy==1.2.0b1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
SpeechRecognition==3.10.0
SQLAlchemy==1.4.44
stack-data==0.6.2
starlette==0.23.1
stringcase==1.2.0
style==1.1.0
sympy==1.11.1
tables==3.8.0
tabulate==0.9.0
tb-nightly==2.13.0a20230414
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2022.5.4
timm==0.6.7
tinify==1.5.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==1.12.1
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.13.1
tqdm==4.65.0
traitlets==5.9.0
trampoline==0.1.2
transformers==4.25.1
trio==0.22.0
trio-websocket==0.9.2
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.2.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.1
ujson==5.7.0
update==0.0.1
urllib3==1.26.15
userpath==1.9.1
utime==1.1.7
uvicorn==0.20.0
watchdog==2.1.9
wcwidth==0.2.6
websockets==11.0
Werkzeug==2.2.2
WeRoBot==1.13.1
wfdb==4.1.2
whatthepatch==1.0.4
wrapt==1.14.1
wsproto==1.2.0
wxpy==0.3.9.8
xiaogpt==1.23
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.13.0
yamlhparams==0.2.0
yapf==0.32.0
yarl==1.8.2
youdao-translator==1.0.1
zipp==3.10.0
